/* COMMON CSS START */
/*=============== VARIABLES CSS ===============*/
:root {
  /*===== Colors =====*/
  --hue-color: 242;

  /* HSL Color Mode */
  --skin-color: hsl(342, 92%, 46%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 85%);
  --body-color: hsl(var(--hue-color), 19%, 5%);
  --box-color: hsl(var(--hue-color), 14%, 10%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 38%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);
  --bg-body: #dff9fb;
  --bg-nav: #220455;
  --color-nav: #644c89;
  --color-nav-active: #fff;
  /*===== Font and Typography =====*/
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --biggest-font-size: 3rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /*===== Font Weight =====*/
  --font-medium: 500;
  --font-bold: 600;

  /*===== Margenes Bottom =====*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*===== Z Index =====*/
  --z-fixed: 10;
  --z-modal: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
}
btn:focus,
a:focus {
  outline: none;
}
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none;
}
input:focus {
  outline: 0 !important;
}

ul {
  list-style: none;
}
a {
  text-decoration: none !important;
  display: inline-block;
}
img {
  vertical-align: middle;
}
.clr {
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
.container {
  padding: 0px;
}
body {
  font-family: "Montserrat", sans-serif;
}

.d-flex {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}
.align-content-start {
  align-content: center;
}
.red-clr {
  color: hsl(342, 100%, 50%);
}
.pt--30 {
  padding-top: 30px;
}
.pt--100 {
  padding-top: 100px;
}
.mt-25 {
  margin-top: 25px;
}
.mr-25 {
  margin-right: 25px;
}
html {
  scroll-behavior: smooth;
}
::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}
/* COMMON CSS END */

.main {
  background-color: hsl(214, 10%, 14%);
}
.centered {
  /* position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
body {
  background-color: rgb(13, 13, 13);
}
.d-none {
  display: none;
}
.row {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 50px;
}
.container {
  width: 70%;
  margin: auto;
}
.right_div {
  width: 48%;
  position: sticky !important;
  top: 120px;
  z-index: 10;
  height: 90vh;
}
.position-sticky {
  height: 100% !important;
}
.left_div {
  width: 48%;
}
.thumbnail {
  width: 25%;
}
.thumbnail img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 5px solid hsl(210, 9%, 22%);
}
.banner-details-wrapper-sticky .banner-title-area .title {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.19;
  margin-bottom: 22px;
}
.banner-details-wrapper-sticky .banner-title-area p {
  font-size: 18px;
  color: #878e99;
  line-height: 1.6;
}
.pt--60 {
  padding-top: 60px;
}

.header {
  position: fixed;
  left: 30px;
  z-index: 9999;
  display: flex;
  align-items: center;
  top: 50%;
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transform: translateY(-50%);
  z-index: 2;
}

.header ul.icon-menu li.icon-box:focus,
.header ul.icon-menu li.icon-box:hover,
.portfolio-tab-list li:focus,
.portfolio-tab-list li:hover {
  border: none;
  outline: none;
}
.header ul.icon-menu li.icon-box {
  width: 50px;
  height: 50px;
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.3s;
  margin: 20px 0;
  border-radius: 50%;
  background: #2b2a2a;
  cursor: pointer;
}

.header ul.icon-menu li.icon-box i {
  color: #ddd;
  font-size: 19px;
  transition: 0.3s;
  width: 100%;
}
.header .icon-box i.fa {
  position: absolute;
  pointer-events: none;
  width: 100%;
}
.header .icon-menu .icon-box a {
  width: 100%;
  height: 100%;
}
.header .icon-menu i {
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 35px;
  top: 15px;
  width: 100%;
}
.header ul li:hover.icon-box {
  background-color: #ff014f;
}
.active_nav {
  color: #ff014f !important;
  background-color: white !important;
}
.active_navbr {
  color: #ff014f !important;
}
.header ul li .tooltip {
  position: absolute;
  top: 8px;
  left: 63px;
  background: #fff;
  padding: 10px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  color: #121415;
  font-weight: bold;
  display: none;
}

.header ul li:hover .tooltip {
  display: block;
}

.header ul li .tooltip:before {
  content: "";
  position: absolute;
  top: 10px;
  transform: translateX(-146%) rotate(90deg);
  border-top: 10px solid #fff;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  -webkit-transform: translateX(-146%) rotate(90deg);
  -moz-transform: translateX(-146%) rotate(90deg);
  -ms-transform: translateX(-146%) rotate(90deg);
  -o-transform: translateX(-146%) rotate(90deg);
}

.right_div .sticky-top-slider a.rn-btn,
.right_div .sticky-top-slider button.rn-btn {
  font-size: 18px;
}
.right_div .button-group a.rn-btn {
  z-index: 10;
  margin: 15px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.banner-details-wrapper-sticky {
  padding-bottom: 100px;
}
.right_div a.rn-btn span,
.right_div button.rn-btn span {
  color: #ff014f;
  font-weight: 500;
  z-index: -1;
}
.right_div a.rn-btn,
.right_div button.rn-btn {
  border-radius: 6px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  transition: 0.4s;
  position: relative;
  z-index: 2;
  font-weight: 500;
  border: 0 none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.right_div a.rn-btn,
.right_div button.rn-btn {
  display: inline-block;
  padding: 15px 35px;
  list-style: none;
  text-decoration: none;
  color: #ff014f;
}
.right_div a.rn-btn::before,
.right_div button.rn-btn::before {
  content: "";
  position: absolute;
  transition: 0.4s;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  top: 0;
  left: 0;
  background: linear-gradient(to right bottom, #212428, #16181c);
  opacity: 0;
  z-index: -1;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.right_div a.rn-btn:hover::before {
  opacity: 1;
}
.right_div a.rn-btn:hover {
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
}
.social_links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.links_item {
  width: 10%;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.links_item:hover i {
  color: #ff014f;
}
.links_item i {
  color: white;
  font-size: 2.5rem;
  transition: all 0.4s;
}

.right_div .button-group a.rn-btn:nth-child(1) {
  margin-left: 0px;
}
.links_txt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #ff014f;
  font-size: 19px;
}
.arrow1 {
  animation: slide1 1s ease-in-out infinite;
  margin-left: 9px;
}
@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

#about,
#skill,
#services,
#portfolio,
#Blog,
#testimonial,
#contact {
  padding: 35px 40px 40px;
  border-radius: 10px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
}

.section-height::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  filter: blur(1px);
  z-index: -1;
}

h5.title {
  position: relative;
  margin-bottom: 35px;
  font-size: 30px;
  text-align: left;
  color: white;
}

.inner p.about-disc {
  font-size: 18px;
  color: #878e99;
  line-height: 28px;
}
.inner p:nth-child(2) {
  margin-bottom: 25px;
}

h5.title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: #121415;
  bottom: -18px;
  left: 0;
}

.skill-item span.title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  color: #c4cfde;
  display: inline-block;
  margin-bottom: 20px;
}
/* .skill-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
} */
.skill-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.secondary-skill.skill-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.skill-list li {
  width: 81px;
  height: 81px;
  line-height: 81px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}
.secondary-skill li {
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}
.secondary-skill {
  display: flex;
  flex-wrap: wrap;
}
.skill-list li img {
  max-height: 30px;
  width: auto;
}

.services_item {
  width: 31%;
  padding: 40px 35px;
  background-color: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  color: white;
}
.services_main {
  display: flex;
  justify-content: space-between;
}
.services_icon {
  font-size: 18px;
  color: #ff014f;
}

.card-list li::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #878e99;
  border-radius: 50%;
  top: 50%;
  left: -20px;
  opacity: 0.3;
  transform: translateY(-50%);
}
.card-list li {
  padding: 10px 0px;
  list-style: none;
  margin: 0;
  margin-left: 20px;
  color: #c4cfde !important;
  position: relative;
  line-height: 38px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.card-list li a {
  font-size: 18px;
  font-weight: 400;
  transition: 0.4s;
  color: #878e99;
  line-height: 30px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  display: flex;
  align-items: center;
}
.card-list li a:hover {
  color: #ff014f;
}
.card-list li a:hover svg {
  transition: all 0.4s;
  display: block;
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}
.card-list li a svg {
  color: #ff014f;
  transition: all 0.4s;
  display: none;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

#testimonial {
  color: white;
}
.inner {
  position: relative;
}
.button_testi {
  display: flex;
  position: absolute;
  top: 10%;
  right: 10%;
  color: white;
  font-size: 20px;
  z-index: 9999;
}
.prev_testi:hover,
.next_testi:hover {
  color: #ff014f;
}
.prev_testi {
  padding: 10px 10px;
  background-color: hsl(214, 10%, 14%);
  margin-right: 10px;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  cursor: pointer;
  transition: all 0.4s;
}
.next_testi {
  padding: 10px 10px;
  background-color: hsl(214, 10%, 14%);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  cursor: pointer;
  transition: all 0.4s;
}
.testimonial_profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonial_profile .testi_user_pic {
  width: 15%;
  margin-left: 2px;
}
.testimonial_profile .testimonial_profile-data {
  width: 78%;
}
.testimonial_profile .testi_user_pic img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonial_quote i {
  color: #ff014f;
  font-size: 1.5rem;
}
.testimonial_quote {
  margin-bottom: 10px;
}
.testimonial_date {
  margin: 1rem 0px;
}

.mySwiper {
  display: flex;
}
.testimonial_description,
.testimonial_date {
  color: #878e99;
}
.testimonial_profile-name {
  font-weight: 700;
}

/*===== Contact Section =====*/
.contact_container {
  grid-template-columns: 300px 340px;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}
.contact_info {
  display: grid;
  row-gap: 1rem;
}
.contact_card {
  background-color: var(--box-color);
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.contact_card-icon {
  font-size: 1.8rem;
  color: var(--title-color);
  margin-bottom: var(--mb-0-25);
}
.contact_card-title,
.contact_card-data {
  font-size: var(--small-font-size);
}
.contact_card-title {
  font-weight: var(--font-medium);
}
.contact_card-data {
  display: block;
  margin-bottom: var(--mb-0-75);
}
.contact_button {
  color: var(--skin-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
  cursor: pointer;
}
.contact_button-icon {
  font-size: 1rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.contact_button:hover .contact_button-icon {
  transform: translateX(0.25rem);
  -webkit-transform: translateX(0.25rem);
  -moz-transform: translateX(0.25rem);
  -ms-transform: translateX(0.25rem);
  -o-transform: translateX(0.25rem);
}
.input_container {
  position: relative;
  margin-top: 0.1rem;
  margin-bottom: 1.9rem;
}
.input {
  width: 100%;
  border: 2px solid white;
  background-color: transparent;
  padding: 0.6rem 1.2rem;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.5px;
  border-radius: 0.5rem;
  transition: 0.3s;
  outline: none;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 140px;
  border-radius: 0.5rem;
  resize: none;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.input_container label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  pointer-events: none;
  z-index: 15;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.input_container.textarea label {
  top: 1rem;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.input_container span {
  position: absolute;
  top: 0;
  left: 25px;
  color: transparent;
  transform: translateY(-50%);
  font-size: 0.875rem;
  padding: 0 0.4rem;
  pointer-events: none;
  z-index: 10;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.input_container span::before,
.input_container span::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 5px;
  opacity: 0;
  background-color: hsl(214, 10%, 14%);
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.input_container span::before {
  left: 50%;
}
.input_container span::after {
  right: 50%;
}
.input_container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.875rem;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.input_container.focus span::before,
.input_container.focus span::after {
  width: 50%;
  opacity: 1;
}

.contact_content .rn-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_content .rn-btn i {
  font-size: 20px;
  transition: 0.4s;
}

.contact_content a.rn-btn span,
.contact_content button.rn-btn span {
  color: #ff014f;
  font-weight: 500;
  z-index: 9999;
}
.contact_content a.rn-btn,
.contact_content button.rn-btn {
  border-radius: 6px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  transition: 0.4s;
  position: relative;
  z-index: 2;
  font-weight: 500;
  border: 0 none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.contact_content a.rn-btn,
.contact_content button.rn-btn {
  display: inline-block;
  padding: 15px 35px;
  list-style: none;
  text-decoration: none;
  transition: 0.4s;
  color: #ff014f;
}
.contact_content a.rn-btn::before,
.contact_content button.rn-btn::before {
  content: "";
  position: absolute;
  transition: 0.4s;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  top: 0;
  left: 0;
  background: linear-gradient(to right bottom, #212428, #16181c);
  opacity: 0;
  z-index: -1;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.contact_content a.rn-btn:hover::before {
  opacity: 1;
}
.contact_content a.rn-btn:hover i {
  margin-left: 10px;
}

.top_button {
  position: fixed;
  bottom: 8%;
  right: 2%;
  display: none;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  font-size: 2rem;
  border-radius: 50%;
  background-color: #ff014f;
  color: white;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.main {
  position: relative;
  display: none;
}

.rn-right-Project {
  width: 40px;
  position: fixed;
  z-index: 99;
  right: 0px;
  top: calc(50% - 55px);
}
.rn-right-Project .Project-button {
  border-radius: 6px 0 0 6px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  position: relative;
  z-index: 2;
  font-size: 14px;
  border: 0 none;
  width: 100%;
  min-width: 100%;
  padding: 10px 0px 8px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.rn-right-Project .Project-button .text {
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding-left: 5px;
  padding-right: 5px;
  color: #878e99;
}

/*===== Work Section =====*/
.work_container {
  grid-template-columns: repeat(3, 330px);
  gap: 1.8rem;
  justify-content: center;
  padding-top: 1rem;
}
.work_filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: 2rem;
}
.work_item {
  cursor: pointer;
  color: var(--title-color);
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.work_card {
  background-color: var(--box-color);
  padding: 1.25rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.protfolio_item-details {
  display: none;
}
.work_img {
  border-radius: 0.5rem;
  margin-bottom: var(--mb-1);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.work_title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
}
.work_button {
  color: var(--skin-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
}
.work_button-icon {
  font-size: 1rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.work_button:hover .work_button-icon {
  transform: translateX(0.25rem);
  -webkit-transform: translateX(0.25rem);
  -moz-transform: translateX(0.25rem);
  -ms-transform: translateX(0.25rem);
  -o-transform: translateX(0.25rem);
}
/* Active Item Work */
.active-work {
  background-color: var(--skin-color);
  color: var(--title-color);
}
.demo-modal-area .demo-close-btn {
  cursor: pointer;
  border: 0 none;
  position: fixed;
  right: 50px;
  top: 50px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  z-index: 2;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.demo-modal-area .demo-close-btn::after {
  content: "";
  position: absolute;
  transition: 0.4s;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  top: 0;
  left: 0;
  background: linear-gradient(to right bottom, #212428, #16181c);
  opacity: 0;
  z-index: -1;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.demo-close-btn i {
  font-size: 25px;
  color: white;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.work_title {
  color: white;
}
.demo-close-btn:hover i {
  color: #ff014f;
}
.section_title {
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 3rem;
  color: white;
}
.demo-modal-area .wrapper .rn-modal-inner {
  margin: 70px auto;
  border-radius: 6px;
  padding: 50px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  position: relative;
  max-width: 1170px;
  width: 90%;
}
.work_container {
  grid-template-columns: repeat(3, 330px);
  gap: 1.8rem;
  justify-content: center;
  padding-top: 1rem;
}
.work_container img {
  width: 100%;
}
.grid {
  display: grid;
}

.demo-modal-area.open {
  opacity: 1;
  visibility: visible;
  transform: none;
}
.demo-modal-area {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border: 0px;
  background-color: rgb(33, 36, 40);
  position: fixed;
  z-index: 999;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: translateX(100px);
}

@media screen and (max-width: 1500px) {
  .container {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 1305px) {
  .container {
    width: 88%;
    margin: auto;
  }
}
@media screen and (max-width: 1200px) {
  .header {
    left: 10px;
  }
  .right_div {
    width: 48%;
  }
  .left_div {
    width: 49%;
  }
  .row {
    justify-content: center;
    gap: 10px;
  }
  .banner-details-wrapper-sticky .banner-title-area .title {
    font-size: 52px;
  }
  .secondary-skill.skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .services_item {
    padding: 20px 15px;
  }
  .top_button {
    z-index: 9999;
  }
}
@media screen and (max-width: 1024px) {
  .secondary-skill.skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .banner-details-wrapper-sticky .banner-title-area .title {
    font-size: 45px;
  }
  .services_item {
    padding: 10px 10px;
  }
}
@media screen and (max-width: 992px) {
  .services_name {
    font-size: 14px;
  }
  .button-group .rn-btn:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 880px) {
  .banner-details-wrapper-sticky .banner-title-area .title {
    font-size: 40px;
  }
  .services_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .services_item {
    padding: 10px 10px;
    width: 100%;
  }
  .container {
    width: 90%;
    margin: auto;
  }
  .centered {
    width: 100%;
  }
}
@media screen and (max-width: 773px) {
  .container {
    width: 80%;
    margin: auto;
  }
  .row {
    display: block;
  }
  .right_div {
    width: 90%;
    margin: auto;
    position: relative !important;
    height: 100%;
    top: 50px;
    margin-bottom: 3rem;
    display: block !important;
    z-index: 1;
  }
  .left_div {
    width: 90%;
    margin: auto;
    height: 100%;
    display: block;
  }
  .banner-details-wrapper-sticky .banner-title-area .title {
    font-size: 52px;
  }
  .button-group .rn-btn:nth-child(2) {
    display: inline-block;
  }
  .secondary-skill.skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .services_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  .services_item {
    padding: 30px 20px;
    width: 100%;
  }
  .thumbnail {
    width: 40%;
    text-align: center;
    margin: auto;
  }
}
@media screen and (max-width: 625px) {
  .skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .secondary-skill.skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .services_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  .services_item {
    padding: 20px 10px;
    width: 100%;
  }
  .banner-details-wrapper-sticky .banner-title-area .title {
    font-size: 45px;
  }
  .links_item i {
    font-size: 2rem;
  }
  .thumbnail {
    width: 40%;
    text-align: center;
    margin: auto;
  }
}
@media screen and (max-width: 585px) {
  .banner-details-wrapper-sticky .banner-title-area .title {
    font-size: 38px;
  }
  .right_div .sticky-top-slider a.rn-btn,
  .right_div .sticky-top-slider button.rn-btn {
    font-size: 16px;
  }
  .right_div a.rn-btn,
  .right_div button.rn-btn {
    padding: 15px 25px;
  }
  .links_txt {
    font-size: 16px;
  }
  .card-list li a {
    font-size: 16px;
  }
  .card-list svg {
    width: 18px;
    height: 18px;
  }
  .thumbnail {
    width: 40%;
    text-align: center;
    margin: auto;
  }
  .banner-details-wrapper-sticky .banner-title-area p {
    font-size: 16px;
  }
  .inner p.about-disc {
    font-size: 16px;
  }
  .testimonial_description {
    font-size: 14px;
  }
  .testimonial_profile-detail {
    font-size: 14px;
  }
  .right_div .button-group a.rn-btn {
    margin: 10px;
  }
  .button_testi {
    top: 10%;
    right: 7%;
  }
}
@media screen and (max-width: 480px) {
  .button-group .rn-btn:nth-child(2) {
    display: none;
  }
  .button_testi {
    top: 10%;
    right: 5%;
  }
  .services_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .button_testi {
    top: 25%;
    right: 7%;
  }
  .card-list li a {
    font-size: 14px;
  }
  .card-list li a svg {
    display: none !important;
  }
  .skill-list {
    grid-template-columns: 1fr 1fr;
  }
  .secondary-skill.skill-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .banner-details-wrapper-sticky .banner-title-area p {
    font-size: 14px;
  }
  .banner-details-wrapper-sticky .banner-title-area .title {
    font-size: 30px;
  }
  .social_links {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  h5.title {
    position: relative;
    margin-bottom: 35px;
    font-size: 20px;
    text-align: left;
    color: white;
  }
  .rn-right-Project .Project-button {
    font-size: 12px;
  }
  .inner p.about-disc {
    font-size: 14px;
  }
  .skill-item span.title {
    font-size: 12px;
  }
  .header {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    display: inline-block;
    padding: 0px 5px !important;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .icon-box h2 {
    display: none !important;
  }
  .icon-menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
    bottom: 0;
  }
}
