/* COMMON CSS START */
/*=============== VARIABLES CSS ===============*/
:root {
  /*===== Colors =====*/
  --hue-color: 242;

  /* HSL Color Mode */
  --skin-color: hsl(342, 92%, 46%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 85%);
  --body-color: hsl(var(--hue-color), 19%, 5%);
  --box-color: hsl(var(--hue-color), 14%, 10%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 38%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);

  /*===== Font and Typography =====*/
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --biggest-font-size: 3rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /*===== Font Weight =====*/
  --font-medium: 500;
  --font-bold: 600;

  /*===== Margenes Bottom =====*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*===== Z Index =====*/
  --z-fixed: 10;
  --z-modal: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
}
btn:focus,
a:focus {
  outline: none;
}
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none;
}
input:focus {
  outline: 0 !important;
}

ul {
  list-style: none;
}
a {
  text-decoration: none !important;
  display: inline-block;
}
img {
  vertical-align: middle;
}
.clr {
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
.container {
  padding: 0px;
}
body {
  font-family: "Montserrat", sans-serif;
}

.d-flex {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}
.align-content-start{
  align-content: center;
  
}
.red-clr {
  color: hsl(342, 100%, 50%);
}
.pt--30 {
  padding-top: 30px;
}
.pt--100 {
  padding-top: 100px;
}
.mt-25 {
  margin-top: 25px;
}
.mr-25{
  margin-right: 25px;
}
html {
  scroll-behavior: smooth;
}
::-moz-selection { /* Code for Firefox */
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}
/* COMMON CSS END */

.main {
  background-color: hsl(214, 10%, 14%);
}
.row {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 50px;
}
.container {
  width: 70%;
  margin: auto;
}
.right_div {
  width: 48%;
  position: sticky !important;
  top: 200px;
  z-index: 10;
  height: 80vh;
}
.position-sticky{
  height: 100% !important;
}
.left_div {
  width: 48%;
}
.thumbnail {
  width: 25%;
}
.thumbnail img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 5px solid hsl(210, 9%, 22%);
}
.banner-details-wrapper-sticky .banner-title-area .title {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.19;
  margin-bottom: 22px;
}
.banner-details-wrapper-sticky .banner-title-area p {
  font-size: 18px;
  color: #878e99;
  line-height: 1.6;
}
.pt--60 {
  padding-top: 60px;
}

.right_div .sticky-top-slider a.rn-btn,
.right_div .sticky-top-slider button.rn-btn {
  font-size: 18px;
}
.right_div .button-group a.rn-btn {
  margin: 15px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.banner-details-wrapper-sticky{
  padding-bottom: 100px;
}
.right_div a.rn-btn span, .right_div 
button.rn-btn span {
  color: #ff014f;
  font-weight: 500;
  z-index: 9999;
}
.right_div a.rn-btn,
.right_div button.rn-btn {
  border-radius: 6px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  transition: 0.4s;
  position: relative;
  z-index: 2;
  font-weight: 500;
  border: 0 none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.right_div a.rn-btn,
.right_div button.rn-btn {
  display: inline-block;
  padding: 15px 35px;
  list-style: none;
  text-decoration: none;
  color: #ff014f;
}
.right_div a.rn-btn::before,
.right_div button.rn-btn::before {
  content: "";
  position: absolute;
  transition: 0.4s;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  top: 0;
  left: 0;
  background: linear-gradient(to right bottom, #212428, #16181c);
  opacity: 0;
  z-index: -1;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.right_div a.rn-btn:hover::before {
  opacity: 1;
}
.right_div a.rn-btn:hover {
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
}
.social_links{
  display: flex;
  align-items: center;
  gap: 20px;
}
.links_item{
  width: 10%;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.links_item:hover i{
  color: #ff014f;

}
.links_item i{
  color: white;
  font-size: 2.5rem;
  transition: all 0.4s;
}

.right_div .button-group a.rn-btn:nth-child(1) {
  margin-left: 0px;
}
.links_txt{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #ff014f;
  font-size: 19px;
}
.arrow1 {
  animation: slide1 1s ease-in-out infinite;
  margin-left: 9px;
}
@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}










#about,
#skill, #services, #portfolio, #Blog, #testimonial, #contact {
  padding: 35px 40px 40px;
  border-radius: 10px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
}

.section-height::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  filter: blur(1px);
  z-index: -1;
}

h5.title {
  position: relative;
  margin-bottom: 35px;
  font-size: 30px;
  text-align: left;
  color: white;
}

.inner p.about-disc {
  font-size: 18px;
  color: #878e99;
  line-height: 28px;
}
.inner p:nth-child(2) {
  margin-bottom: 25px;
}

h5.title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: #121415;
  bottom: -18px;
  left: 0;
}

.skill-item span.title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  color: #c4cfde;
  display: inline-block;
  margin-bottom: 20px;
}
.skill-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}
.skill-list li {
  width: 81px;
  height: 81px;
  line-height: 81px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}
.secondary-skill li {
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}
.secondary-skill{
  display: flex;
  flex-wrap: wrap;
}
.skill-list li img{
  max-height: 30px;
  width: auto;
}






.services_item{
  width: 31%;
  padding: 40px 35px;
  background-color: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  color: white;
}
.services_main{
  display: flex;
  justify-content: space-between;
}
.services_icon{
  font-size: 18px;
  color: #ff014f;
}


 .card-list li::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #878e99;
  border-radius: 50%;
  top: 50%;
  left: -20px;
  opacity: 0.3;
  transform: translateY(-50%);
}
.card-list li {
  padding: 10px 0px;
  list-style: none;
  margin: 0;
  margin-left: 20px;
  color: #c4cfde !important;
  position: relative;
  line-height: 38px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
 .card-list li a {
  font-size: 18px;
  font-weight: 400;
  transition: 0.4s;
  color: #878e99;
  line-height: 30px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  display: flex;
  align-items: center;
  
}
 .card-list li a:hover {
  color: #ff014f;
  
}
 .card-list li a:hover svg{
  transition: all 0.4s;
  display: block;
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}
 .card-list li a svg{
  color: #ff014f;
  transition: all 0.4s;
  display: none;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}




#testimonial{
  color: white;
}
.inner{
  position: relative;
}
.button_testi{
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 20px;
}
.prev_testi:hover , .next_testi:hover{
color: #ff014f;
}
.prev_testi{ padding: 10px 10px; background-color: hsl(214,10%,14%); margin-right: 10px; box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e; cursor: pointer; transition: all 0.4s;
}
.next_testi{
  padding: 10px 10px;
  background-color: hsl(214,10%,14%);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  cursor: pointer;
  transition: all 0.4s;
}
.testimonial_profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonial_profile .testi_user_pic{
  width: 17%;
}
.testimonial_profile .testimonial_profile-data{
  width: 78%;
}
.testimonial_profile .testi_user_pic img{
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonial_quote i{
  color: #ff014f;
  font-size: 1.5rem;
}
.testimonial_quote{
  margin-bottom: 10px;
}
.testimonial_date{
  margin: 10px 0px;
}
.mySwiper{
  display: flex;
}





/*===== Contact Section =====*/
.contact_container
{
    grid-template-columns: 300px 340px;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}
.contact_info
{
    display: grid;
    row-gap: 1rem;
}
.contact_card
{
    background-color: var(--box-color);
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.contact_card-icon
{
    font-size: 1.8rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-25);
}
.contact_card-title,
.contact_card-data
{
    font-size: var(--small-font-size);
}
.contact_card-title
{
    font-weight: var(--font-medium);
}
.contact_card-data
{
    display: block;
    margin-bottom: var(--mb-0-75);
}
.contact_button
{
    color: var(--skin-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
    cursor: pointer;
}
.contact_button-icon
{
    font-size: 1rem;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.contact_button:hover .contact_button-icon
{
    transform: translateX(.25rem);
    -webkit-transform: translateX(.25rem);
    -moz-transform: translateX(.25rem);
    -ms-transform: translateX(.25rem);
    -o-transform: translateX(.25rem);
}
.input_container
{
    position: relative;
    margin-top: .1rem;
    margin-bottom: 1.9rem;
}
.input
{
    width: 100%;
    border: 2px solid white;
    background-color: transparent;
    padding: .6rem 1.2rem;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: .5px;
    border-radius: .50rem;
    transition: .3s;
    outline: none;
    -webkit-border-radius: .50rem;
    -moz-border-radius: .50rem;
    -ms-border-radius: .50rem;
    -o-border-radius: .50rem;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
textarea.input{
    padding: .8rem 1.2rem;
    min-height: 140px;
    border-radius: .50rem;
    resize: none;
    -webkit-border-radius: .50rem;
    -moz-border-radius: .50rem;
    -ms-border-radius: .50rem;
    -o-border-radius: .50rem;
}
.input_container label
{
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    padding: 0 .4rem;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    pointer-events: none;
    z-index: 15;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.input_container.textarea label
{
    top: 1rem;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.input_container span
{
    position: absolute;
    top: 0;
    left: 25px;
    color: transparent;
    transform: translateY(-50%);
    font-size: 0.875rem;
    padding: 0 .4rem;
    pointer-events: none;
    z-index: 10;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.input_container span::before,
.input_container span::after
{
    content: '';
    position: absolute;
    width: 10%;
    height: 5px;
    opacity: 0;
    background-color: hsl(214,10%,14%);
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.input_container span::before
{
    left: 50%;
}
.input_container span::after
{
    right: 50%;
}
.input_container.focus label
{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.875rem;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.input_container.focus span::before,
.input_container.focus span::after
{
    width: 50%;
    opacity: 1;
}



.contact_content .rn-btn span{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_content .rn-btn i{
  font-size: 20px;
  transition: 0.4s;
}

.contact_content a.rn-btn span, .contact_content 
button.rn-btn span {
  color: #ff014f;
  font-weight: 500;
  z-index: 9999;
}
.contact_content a.rn-btn,
.contact_content button.rn-btn {
  border-radius: 6px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  transition: 0.4s;
  position: relative;
  z-index: 2;
  font-weight: 500;
  border: 0 none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.contact_content a.rn-btn,
.contact_content button.rn-btn {
  display: inline-block;
  padding: 15px 35px;
  list-style: none;
  text-decoration: none;
  transition: 0.4s;
  color: #ff014f;
}
.contact_content a.rn-btn::before,
.contact_content button.rn-btn::before {
  content: "";
  position: absolute;
  transition: 0.4s;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  top: 0;
  left: 0;
  background: linear-gradient(to right bottom, #212428, #16181c);
  opacity: 0;
  z-index: -1;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.contact_content a.rn-btn:hover::before {
  opacity: 1;
}
.contact_content a.rn-btn:hover i{
  margin-left: 10px;
}


.top_button{
  position: fixed;
  bottom: 8%;
  right: 2%;
  display: none;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  font-size: 2rem;
  border-radius: 50%;
  background-color: #ff014f;
  color: white;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.main{
  position: relative;
}